@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.blue-section {
    background-color: #35365C;
    color: #f0f0f0;
}
/*------header------*/
.header {
    height: 60px;
}
.header img {
    float: right;
    width: 200px;
    height: 40px;
    margin-right: 5%;
    margin-top: 2%;
}
/*-----Main-----*/
.main {
    background: #E3E6F2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*------other measure------*/
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    /*------header------*/
    .header {
        height: 169px;
    }
    .header img{
        width: 206px;
        height: 42px;
        margin-right: 5%;
        margin-top: 5%;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
    }
    /*------header------*/
    .header {
        position: relative;
        height: 159px;
    }
    .header img {
        width: 240px;
        height: 70px;
        margin-top: 2%;
    }
}